S3method(plot,SparsePanelEstimate)
S3method(summary,SparsePanelEstimate)
S3method(summary,SparsePanelMatch)
export(Sparse_PanelMatch)
export(Sparse_PanelEstimate)
export(DiD_Plot)
import(dplyr)
importFrom(tidyr, replace_na, drop_na)
importFrom(tidyselect, all_of)
importFrom(data.table, setDT)
importFrom(data.table, setnames)
importFrom(data.table, ":=")
importFrom(data.table, shift)
importFrom(tidyselect, starts_with)
importFrom(lubridate, "%m+%")
importFrom(lubridate, "%m-%")
importFrom(magrittr, "%>%")
importFrom(tibble, tibble)
importFrom(tibble, as_tibble)
importFrom(purrr, map)
importFrom(purrr, map_dfc)
importFrom(CBPS, CBPS)
importFrom(utils, capture.output)
importFrom(utils, flush.console)
importFrom(utils, object.size)
importFrom(utils, tail)
importFrom(ggplot2, ggplot)
importFrom(stats, binomial, complete.cases, cov, glm, mahalanobis, quantile, reformulate, sd, setNames, var)
