S3method(plot,SparsePanelEstimate)
S3method(summary,SparsePanelEstimate)
S3method(summary,SparsePanelMatch)
export(Sparse_PanelMatch)
export(Sparse_PanelEstimate)
import(data.table)
import(tidyr)
import(tidyselect)
import(tibble)
import(stats)
import(dplyr)
importFrom(lubridate,"%m+%")
importFrom(lubridate,"%m-%")
importFrom(MASS, ginv)
importFrom(CBPS,CBPS)
importFrom(utils,capture.output)
importFrom(utils,flush.console)
importFrom(utils,object.size)
importFrom(utils,tail)
